---
import DefaultLayout from '@layouts/Default.astro';
import Sidebar from '@components/Sidebar.astro';
import Header from '@components/Header.astro';
import Tags from '@components/Tags.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import { readTime } from 'src/utils';

export async function getStaticPaths() {
  const entries = await getCollection('blog');
  return entries.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'blog'>;
}

const {
  post: { body, data, render, slug },
} = Astro.props;
const { Content, headings } = await render();
const readingTime = readTime(body);
---

<DefaultLayout title="Welcome to KC's Blog">
  <div
    class="flex order-2 w-full lg:order-1 lg:top-0 lg:h-screen xl:w-3/12 2xl:w-2/12 lg:w-3/12 bg-gradient-to-tr from-cyan-400 to-blue-500 dark:from-cyan-600 dark:to-blue-600"
  >
    <Sidebar />
  </div>
  <main
    class="flex-1 order-1 lg:flex lg:overflow-y-scroll lg:order-2 lg:w-9/12 xl:w-9/12 2xl:w-10/12 xl:bg-gray-900 grid-bg"
  >
    <div class="flex w-full">
      <div class="bg-white xl:w-8/12 dark:bg-slate-600">
        <Header />
        <article
          class="flex-1 px-6 pt-2 pb-10 space-y-2 bg-white md:px-8 font-firamono dark:bg-slate-600"
        >
          <header class="py-2">
            <h1 class="pt-2 pb-1 text-2xl dark:text-slate-50">
              {data.title}
            </h1>
            <div
              class="flex items-center py-1 pb-4 text-gray-500 space-x-7 dark:text-slate-50"
            >
              <div class="flex items-center space-x-2">
                <svg
                  class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
                  ></path>
                </svg>
                <span class="text-sm italic md:text-base">
                  {data.publishedAt}
                </span>
              </div>
              <div class="flex items-center space-x-2">
                <!-- <AiOutlineFieldTime class="w-5 h-5" /> -->
                <svg
                  class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span class="text-sm italic md:text-base">
                  {readingTime}
                </span>
              </div>
            </div>
            <!-- {
            data.mdx.frontmatter.hero_image && (
              <HeroImage
                imageSrc={
                  data.mdx.frontmatter.hero_image.childImageSharp
                    .gatsbyImageData
                }
                desc={data.mdx.frontmatter.hero_image_desc}
                name={data.mdx.frontmatter.hero_image_credited_name}
                link={data.mdx.frontmatter.hero_image_credited_link}
              />
            )
          } -->
          </header>
          <section
            class="w-full pb-6 prose prose-code:bg-slate-300 prose-code:px-2 prose-code:py-1 prose-code:rounded-md prose-pre:bg-transparent xl:prose-lg max-w-fit dark:prose-invert dark:prose-code:bg-slate-200 dark:prose-pre:bg-slate-200"
          >
            <Content />
          </section>
          <Tags tags={data.tags || []} />
          <!-- <Comment commentBox={commentBox} /> -->
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>
