---
import type { CollectionEntry } from 'astro:content';
import { readTime } from 'src/utils';
import Tags from './Tags.astro';
import Icon from './Icon.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const {
  post: { body, data, slug, id },
} = Astro.props;
const readingTime = readTime(body);
---

<article
  id={id}
  class="flex flex-col w-full px-3 py-2 space-y-2 md:rounded-md hover:bg-gradient-to-t hover:from-white hover:to-slate-50 hover:shadow-sm dark:hover:shadow-sm dark:hover:from-slate-600 dark:hover:to-slate-700"
>
  <a href={`/blog/${slug}`} class="cursor-pointer">
    <h1
      class="mb-1 text-xl antialiased font-semibold tracking-wide text-gray-600 font-firamono dark:text-slate-50"
    >
      {data.title}
    </h1>
    <div
      class="flex items-center py-1 text-gray-500 space-x-7 dark:text-slate-50"
    >
      <div class="flex items-center space-x-2">
        <Icon icon="calender" class="w-5 h-5" />
        <span class="italic">{data.publishedAt}</span>
      </div>
      <div class="flex items-center space-x-2">
        <Icon icon="clock" class="w-5 h-5" />
        <span class="italic">
          {readingTime}
        </span>
      </div>
    </div>
    <p
      class="py-1 text-lg antialiased font-normal text-slate-700 font-firamono dark:text-slate-50"
    >
      {data.excerpt}
    </p>
  </a>
  <Tags tags={data.tags || []} />
</article>
